body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    height: 800px;

}

.navbar {
    padding-bottom: 4.5rem;
}

#navbarText {}

.nav-item {
    padding: 0 18px;
}


h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.5;
}

#features {
    padding: 10% 5% 5% 5%;
    position: relative;
    z-index: 5;
    background-color: #fff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

}

h2 {
    font-size: 3rem;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1.3;
}

p {
    font-size: 16px;
}

.container-fluid {
    padding: 3% 15%;
}

.contain {
    /* margin: 50px 0px; */
}


.nav-link {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.title-img {

    width: 20%;
    height: 10%;
}

.img-rotate {

    width: 200%;
    transform: rotate(15deg);

}

@media (max-width: 1180px) {
    .img-rotate {
        position: static;
        transform: rotate(0);
    }
    
    .title-sector{
        text-align: center;
    }
    
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.download-btn {

    margin: 10% 3% 0 0;
}

.f-items {
    text-align: center;
}




/* Testimonials-Section */

#testimonials {
    padding: 5% 15%;

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}



.testimonial-img {
    border-radius: 100%;
    width: 15%;
    margin-left: auto;
    margin-top: 4%;


}

.Peblles {
    display: block;
    margin-top: 4%;
    text-shadow: #ff4c68;
    font-size: 1rem;
}

/* Press Section */
#press {
    text-align: center;
    background-color: #ef8172;
    padding: 0% 15% 7% 15%;
}

.press-img {
    width: 80%;
    margin: 2%;

}

/* Pricing Section  */

#Pricing {
    height: 500px;
}

#pricing {
    text-align: center;
    margin: 7% 3%;
}

.pr-btn {
    margin-top: 7%;
}

.pricing-column {
    margin: 5% 2%;
}

/* call to Action section */

#cta {
    background-color: #ff4c68;
    text-align: center;
}

.cta-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    padding: 5% 15%;
    line-height: 1.5;
    color: #fff;
}

.cta-btn {
    
    margin: 2% 0.3% 7%;
}

/* footer section */

#footer {
    text-align: center;
    background-color: #fff;
    padding: 7% 15% 2%;
}

.social-media{
    margin: 20px 10px;
}